body {
    font-family: "Roboto";
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 0;
}

p {
    margin:0px 0px 0px 0px;
}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(43deg) brightness(102%) contrast(102%);
}

body > div {
    height: 100vh;
}

img {
    height: 30px;
    width: 30px;
}

.dashboard {
    background-color: #0284c7;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 50px 100px repeat(6, 40px) 80px repeat(4, 40px);
}

.dashboard > img:first-child {
    height: 100%;
    width: 100%;
    margin-top: 30px;
}

.dashboard > p {
    font-size: 18px;
    font-weight: bolder;
    color: white;
    align-self: center;  
}

.dashboard > p:nth-child(2) {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

.dashboard > img {
    place-self: center;
}

.content {
    display: grid;
    grid-template-rows: 1fr 4.5fr;
}

.top-content {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.content > .top-content {
    padding-left: 40px;
    padding-right: 40px
}

.top-content > div:nth-child(1) {
    display: grid;
    grid-template-columns: 1fr 11fr 5fr 1fr 1fr 3fr 30px;
}

input {
    width: 100%;
    height: 40%;
    border-radius: 16px;
    border: none;
    background-color: lightgray;
}

input:focus {
    outline-color: darkgray;
    outline-width: 1px;
}

.top-content > div:nth-child(1) > * {
    place-self: center;
}

.top-content > div:nth-child(1) > p {
    align-self: center;
    justify-self: start;
    margin: 0px 0px 0px 20px;
    font-weight: bold;
    font-size: 16px;
}

.top-content > div:nth-child(1) > img {
    height: 40%;
    width: 40%;
}

.top-content > div:nth-child(1) > img:nth-child(5) {
    height: 100%;
    width: 100%;
}

.top-content > div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
}

.top-content > div:nth-child(2) {
    place-items: center;
}

.blue-button {
    height: 30%;
    width: 80%;
    background-color: #0284c7;
    border-radius: 24px;
    border: none;
    color: white;
    font-weight: bold;
}

.main-content {
    background-color: whitesmoke;
}