body {
    font-family: "Roboto";
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 0;
}

p {
    margin:0px 0px 0px 0px;
}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(43deg) brightness(102%) contrast(102%);
}

body > div {
    height: 100vh;
}

img {
    height: 30px;
    width: 30px;
}

.dashboard {
    background-color: #22d3ee;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 50px 100px repeat(6, 40px) 80px repeat(4, 40px);
}

.dashboard > img:first-child {
    height: 100%;
    width: 100%;
    margin-top: 30px;
}

.dashboard > p {
    font-size: 18px;
    font-weight: bolder;
    color: white;
    align-self: center;  
}

.dashboard > p:nth-child(2) {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.dashboard > img {
    place-self: center  ;
}